*{
    margin: 0%;
    padding: 0%;box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body
{
    min-height: 100vh;
}

nav
{
    height: 70px;
    width: 100vw;
    background-color: rgb(247, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 170px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    padding-inline: 100px;
}
.card
{
    height: 370px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-header
{
    height:40%;
}
.card-header img
{
    height: 100%;
    width: 100%;
}
.card-content
{
    padding:5px 10px;
    text-align: left;
}
.card-title
{
    font-size:20px;
    margin: 5px auto;
}
.card-source
{
    font-size: 15px;
    margin:10px auto;
}
.card-desc
{
    margin: 5px 0px;
    font-size: 17px;
}
